<nz-layout class="full-height-layout">
  @if (showSidebar) {
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="file" />
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  }
  <nz-layout class="inner-layout">
    @if (showSidebar) {
    <nz-header>
      <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed" />
    </nz-header>
    }
    <nz-content class="main-content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer flex justify-center">Mubashir ©2025 Developed Using Angular</nz-footer>
  </nz-layout>
</nz-layout>
