// .ant-layout-header {
//   background-color: aliceblue;
//  }
//  .ant-layout-sider {
//   background-color: aliceblue;
//  }

 .trigger {
   font-size: 18px;
   line-height: 64px;
   padding: 0 24px;
   cursor: pointer;
   transition: color 0.3s;
 }

 .trigger:hover {
   color: #1890ff;
 }

 .logo {
   height: 32px;
   background: rgba(182, 216, 231, 0.2);
   margin: 16px;
 }

 nz-header {
   background: #fff;
   padding: 0;
 }

 nz-content {
   margin: 0 16px;
 }

 nz-breadcrumb {
   margin: 16px 0;
 }

 .inner-content {
   padding: 24px;
   background: #fff;
   min-height: 360px;
 }

.full-height-layout {
  height: 100vh;
}

.inner-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1 0 auto;
  padding: 16px;
  overflow: auto;
}

 .ant-layout-sider {
   position: relative;
   min-width: 0;
   background: #fff;
   transition: all .2s;
 }
